.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--cor-texto);
    color: var(--cor-footer);
    padding: 20px 50px;
    border-radius: 6px;
    margin-bottom: 20px;
}




