.cabecalho {
    background-color: var(--cor-texto);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}