.hero{
    padding: 80px 20px;
}


.slogan {
    margin-top: 30px;
    padding-top: 80px;
    font-size: 1.40rem;
    color: #25e625;
    text-align: center;
    
}

.acesso-books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;

}