.sobre{
    padding: 80px 20px;
    scroll-margin-top: 90px; /*ou padding-top: 80px;*/
    margin-bottom: 500px;
}


.info {
    margin-top: 30px;
    padding-top: 80px;
    font-size: 1.40rem;
    color: #25e625;
    text-align: center;
    
}

