.btn-hero{
    
    font-family: var(--fonte-button);

    align-self: flex-start;
    align-self: center;

    padding: 12px 18px 10px;
    margin-top: 8px;

    border: none;
    border-radius: 30px;

    cursor: pointer;

    background: #2c2cbf;
    color: white;

    font-size: 1.05rem;
    font-weight: bold;

    transition: .3s;
    text-decoration: none;
}

.btn-hero:hover {
    background: #4444ff;
    
}

.btn-book {

    display: inline-block;

    background: #2c2cbf;

    color: white;

    text-decoration: none;

    padding: 10px 20px;

    border-radius: 30px;

    transition: .3s;

}

.btn-book:hover {

    transform: translateY(-3px);

    box-shadow: 0 8px 20px rgba(44,44,191,.4);

    background: #4444ff;

}


.btn-chip {
    background-color: #2c2cbf;
    color: #ffffff;

    border: none;
    border-radius: 30px;

    padding: 10px 22px;

    font-size: 0.95rem;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-chip:hover {
    background-color: #3d3df0;

    transform: translateY(-3px);

    box-shadow: 0 6px 15px rgba(44, 44, 191, 0.35);
}

.btn-enviar {

    align-self: flex-start;
    align-self: center;

    padding: 14px 28px;
    margin-top: 8px;

    border: none;
    border-radius: 30px;

    cursor: pointer;

    background: #2c2cbf;
    color: white;

    font-size: 1rem;
    font-weight: bold;

    transition: .3s;

}

.btn-enviar:hover {
    background: #4444ff;
}