.book-card {

    background: white;

    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0,0,0,.08);

    transition: .3s;
    
    
}

.book-card:hover {

    transform: translateY(-8px);

}